// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

// General colors
$color-body-bg: hsl(0, 0%, 80%);
$color-text-title: #fff;
$color-text-mini-title: hsl(0, 0%, 59%);
$color-rule: rgba(170, 170, 180, 0.3);

// Popup colors
$color-pop-up-message-bg-light: #000;
$color-pop-up-message-text-light: #fff;

/// Regular font family
/// @type List
$text-font-stack: 'Open Sans', 'Helvetica Neue Light', 'Helvetica Neue',
  'Helvetica', 'Arial', sans-serif !default;

/// Code (monospace) font family
/// @type List
$code-font-stack: 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono',
  'Monaco', monospace !default;

/// Copy text color
/// @type Color
$text-color: hsl(0, 0%, 17%) !default;

/// Main brand color
/// @type Color
$brand-color: rgb(229, 0, 80) !default;

/// Light grey
/// @type Color
$light-grey: rgb(237, 237, 237) !default;

/// Medium grey
/// @type Color
$mid-grey: rgb(153, 153, 153) !default;

/// Dark grey
/// @type Color
$dark-grey: rgb(68, 68, 68) !default;

/// Container's maximum width
/// @type Length
$max-width: 1180px !default;

/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels

$breakpoints: (
  'small': 320px,
  'medium': 768px,
  'large': 1024px,
) !default;

/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'http://cdn.example.com/assets/';
$base-url: '/assets/' !default;

// Colors
$color-green: #55c57a;
$color-green-light: #7ed56f;
$color-green-dark: #28b485;

$color-orange-light: #ffb900;
$color-orange-dark: #ff7730;

$color-blue-light: #2998ff;
$color-blue-dark: #5643fa;

$color-mat-black: #141414;

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #f7f7f7;
$color-grey-light-3: #eee;
$color-grey-light-4: #aaa;

$color-grey-dark-1: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;
$color-grey-dark-4: #54483a;
$color-grey-dark-5: #6d5d4b;

$color-white: #fff;
$color-black: #000;
