// -----------------------------------------------------------------------------
// This file contains app info body styling
// -----------------------------------------------------------------------------

.app-body {
  position: absolute;
  z-index: 500;
  bottom: -44px; // half of container height
  border-radius: 10px;
  background: $color-text-title;
  text-align: center;
  font-weight: 700;
  padding: 1.5rem;
  width: 90vw;
  max-width: 1000px;
}

.app-info:not(:last-of-type) {
  margin-bottom: 1.5rem;
}

.app-info__title {
  font-size: 0.7rem;
  text-transform: uppercase;
  color: $color-text-mini-title;
}
