/**
 * The CSS properties that allow you to define:
 * the color, size, spacing, and shape of text.
 */
body {
  color: $text-color;
  font: normal 125% / 1.4 $text-font-stack;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
