// -----------------------------------------------------------------------------
// This file contains specific breakpoint styling
// -----------------------------------------------------------------------------

@media screen and (min-width: map-get($breakpoints, 'medium')) {
  .app-body {
    column-count: 4;
    column-rule: 2px solid $color-rule;
    text-align: left;
  }

  main{
    padding-bottom: 55px;
  }

  body{
    font: normal 125% / 1.4 $text-font-stack;
  }
}
